header[role=banner] .logo {
  font-size: 2rem;
  margin-right: 1rem;
  padding-bottom: .3125rem;
  padding-top: .3125rem;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  gap: 0.75rem
}

a{
  text-decoration: none;
}

.tags{
  margin-top: 4rem;
  display: grid;
  width: 100%;
  grid-template:  repeat(2, min-content) / min-content 1fr ;
  gap: 1.5rem  2rem;
  white-space: nowrap;
  align-items: center;
  ul {
      display: flex;
      column-gap: 2rem;
      flex-wrap: wrap;
      padding:0;
      margin:0;
      list-style: none;
  }
  p {
    margin:0;
      padding:0;
      align-self: start;
  }
}
.results-container{
  margin-top: 6rem;
  p:first-child{
    color: #7FC295;
  }
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 2rem;
  @media(max-width: 768px){
      grid-template-columns: 1fr;
  }
  .speaker-card{
      display:flex;
      flex-direction:column;
      gap: 0.5rem;
  }
  h3 {
      text-decoration: underline solid hsla(0,0%,100%,.3) 2px;
      transition: text-decoration-color .3s ease-in-out;
      &:hover{
          text-decoration-color: #fff;
      }
  }

  .tags-container{
      display:flex;
      flex-wrap:wrap;
      gap: 0 1rem;
  }
}
.dot {
  display: flex;
  align-items: center;
  gap: .25rem;
}
.green-dot::before {
      content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='%237FC295' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5'/%3E%3C/svg%3E%0A");
      line-height: 0;
}

.place::before {
      content: url("data:image/svg+xml,%3Csvg fill='white' height='13' viewBox='0 0 9 13' width='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 0C2.01214 0 0 2.0345 0 4.55C0 7.9625 4.5 13 4.5 13C4.5 13 9 7.9625 9 4.55C9 2.0345 6.98786 0 4.5 0ZM4.5 6.175C3.61286 6.175 2.89286 5.447 2.89286 4.55C2.89286 3.653 3.61286 2.925 4.5 2.925C5.38714 2.925 6.10714 3.653 6.10714 4.55C6.10714 5.447 5.38714 6.175 4.5 6.175Z' /%3E%3C/svg%3E");
      margin-right: .35rem;
      margin-left: .35rem;
  }
.computer::before {
  content: url("data:image/svg+xml,%3Csvg width='15' height='10' viewBox='0 0 15 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 8.75C13.1875 8.75 13.7437 8.1875 13.7437 7.5L13.75 1.25C13.75 0.5625 13.1875 0 12.5 0H2.5C1.8125 0 1.25 0.5625 1.25 1.25V7.5C1.25 8.1875 1.8125 8.75 2.5 8.75H0V10H15V8.75H12.5ZM2.5 1.25H12.5V7.5H2.5V1.25Z' fill='white'/%3E%3C/svg%3E%0A");
    margin-right: .25rem;
}
.custom-ul{
  padding-left: 0
}
.domains{
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  li{
    list-style: none;
  }
}