
.container_partner{
    h5{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        width: 55%;
    }
    p, .domains{
        margin: 0;
        font-size: 20px;
        line-height: 20px;
    }


    .container_partner_info{
        margin-right: 20vw;
        line-height : 4vh;
    
        .link{
            
            a{
                border-bottom: 1px solid #FFF;
            }
        }
    }
    div{
        display: flex;
        flex-direction: column;
    }
    small{
        line-height: 28px;
        margin-top: 10px;
    }
}
.volunteer{
    margin-top: 40px;
}
