{{ define "main" }}
<main>
  <header class="hero">
    <div class="container">
      <h1>{{- .Title -}}</h1>
    </div>
  </header>
  <div class="container">
    <section itemprop="articleBody">
      <p>{{- .Description | safeHTML -}}</p>
    </section>
    <section>
      <div class="tags">
        <p>
          Sujets
        </p>
        <ul>
          {{ range .Site.Taxonomies.subjects }}
          <li><a href="{{ .Page.Permalink }}"><small class="dot pink-dot">{{ .Page.Title }}</small></a></li>
          {{ end }}
        </ul>
        <p>
          Types
        </p>
        <ul>
          {{ range .Site.Taxonomies.types }}
          <li><a href="{{ .Page.Permalink }}"><small>{{ .Page.Title }}</small></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="results-container">
        <p>{{ len (where .Site.RegularPages ".Type" "partners") }} résultats</p>
        <div class="card-container">
          {{- range .Paginator.Pages -}}
          <div class="card">
            <a class="speaker-card" href="{{ .Permalink }}">
              <img src="/assets/images/ressources/{{ .Params.image }}" alt="" class="card-img">
              <h5>{{ .Params.title }}</h5>
              <ul class="domains custom-ul">
                {{ range .GetTerms "types" }}
                <li>
                  <small>
                    {{ .Title }}
                  </small>
                </li>
                {{ end }}
                {{ range .GetTerms "subjects" }}
                <li>
                  <small class="dot pink-dot">
                    {{ .Title }}
                  </small>
                </li>
                {{ end }}
              </ul> 
              <small>{{- .Params.description -}}</small>
              <a href="{{ .Params.link }}" target="_blank" class="link-ressource">Revoir le live</a>
            </a>
          </div>
          {{- end -}}
        </div>
        {{ partial "pagination"  . }}
      </div>
    </section>
  </div>
</main>
{{- end -}}
