{{ define "main" }}
<main>
  <header class="hero">
    <div class="container">
      <h1>{{- .Title -}}</h1>
    </div>
  </header>
  <div class="container">
    <section itemprop="articleBody">
      <p>{{- .Description | safeHTML -}}</p>
    </section>
    <section>
      <div class="tags">
        <p>
          Domaines
        </p>
        <ul>
          <li><a href="/domains/developpement-durable"><small  class="dot green-dot">Développement durable</small></a></li>
          <li><a href="/domains/rse-rso"><small class="dot green-dot">RSE/RSO</small></a></li>
          <li><a href="/domains/numerique"><small class="dot green-dot">Numérique</small></a></li>
          <li><a href="/domains/marketing"><small class="dot green-dot">Marketing</small></a></li>
          <li><a href="/domains/communication"><small class="dot green-dot">Communication</small></a></li>
          <li><a href="/domains/medias-et-influence"><small class="dot green-dot">Médias et influence</small></a></li>
          <li><a href="/domains/design-et-eco-conception"><small class="dot green-dot">Design et éco-conception</small></a></li>
        </ul>
        <p>
          Régions
        </p>
        <ul>
          <li><a href="/regions/auvergne-rhone-alpes"><small>Auvergne-Rhône-Alpes</small></a></li>
          <li><a href="/regions/bourgogne-ranche_comte"><small>Bourgogne-Franche-Comté</small></a></li>
          <li><a href="/regions/bretagne"><small>Bretagne</small></a></li>
          <li><a href="/regions/centre-val-de-loire"><small>Centre-Val de Loire</small></a></li>
          <li><a href="/regions/corse"><small>Corse</small></a></li>
          <li><a href="/regions/grand-est"><small>Grand Est</small></a></li>
          <li><a href="/regions/hauts-de-france"><small>Hauts-de-France</small></a></li>
          <li><a href="/regions/ile-de-france"><small>Île-de-France</small></a></li>
          <li><a href="/regions/normandie"><small>Normandie</small></a></li>
          <li><a href="/regions/nouvelle-aquitaine"><small>Nouvelle-Aquitaine</small></a></li>
          <li><a href="/regions/occitanie"><small>Occitanie</small></a></li>
          <li><a href="/regions/pays-de-la-loire"><small>Pays de la Loire</small></a></li>
          <li><a href="/regions/provence-alpes-cote-azur"><small>Provence-Alpes-Côte d'Azur</small></a></li>
          <li><a href="/regions/guadeloupe"><small>Guadeloupe</small></a></li>
          <li><a href="/regions/martinique"><small>Martinique</small></a></li>
          <li><a href="/regions/guyane"><small>Guyane</small></a></li>
          <li><a href="/regions/la-reunion"><small>La Réunion</small></a></li>
          <li><a href="/regions/mayotte"><small>Mayotte</small></a></li>
        </ul>
      </div>
      <div class="results-container">
        <p>{{ len (where .Site.RegularPages ".Type" "partners") }} résultats</p>
        <div class="card-container">
          {{/*  {{- range where .Site.RegularPages ".Type" "partners" -}}  */}}
          {{- range .Paginator.Pages -}}
          <div class="card">
            <a class="speaker-card" href="{{ .Permalink }}">
              <h3>{{- .Params.title }}</h3>
              <p>{{- .Params.description -}}</p>
              {{ if not ( in .Params.regions "Sélectionnez une région") }}
              <small class="place">{{- range .GetTerms "regions" -}}{{ .Title }}{{ end }}</small>
              {{ end }}
              <small class="computer">{{- .Params.remote -}}</small>
              <ul class="domains custom-ul">
                {{ range .GetTerms "domains" }}
                <li>
                  <small class="dot green-dot">
                    {{ .Title }}
                  </small>
                </li>
                {{ end }}
              </ul>
            </a>
          </div>
          {{- end -}}
        </div>
        {{ partial "pagination"  . }}
      </div>
    </section>
  </div>
</main>
{{- end -}}
