{{ define "main" }}
<main>
  <header class="hero">
    <div class="container">
      <h1>{{- .Title -}}</h1>
    </div>
  </header>
  <div class="container">
    <section itemprop="articleBody">
      <p>{{- .Description | safeHTML -}}</p>
    </section>
    <section>
      <div class="tags">
        <p>
          Sujets
        </p>
        <ul>
          {{ range .Site.Taxonomies.subjects }}
          <li><a href="{{ .Page.Permalink }}"><small class="dot green-dot">{{ .Page.Title }}</small></a></li>
          {{ end }}
        </ul>
        <p>
          Types
        </p>
        <ul>
          {{ range .Site.Taxonomies.types }}
          <li><a href="{{ .Page.Permalink }}"><small>{{ .Page.Title }}</small></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="results-container">
        <p>{{ len (where .Site.RegularPages ".Type" "partners") }} résultats</p>
        <div class="card-container">
          {{/*  {{- range where .Site.RegularPages ".Type" "partners" -}}  */}}
          {{- range .Paginator.Pages -}}
          <div class="card">
            <a class="speaker-card" href="{{ .Permalink }}">
              <h3>{{- .Params.title }}</h3>
              <p>{{- .Params.description -}}</p>
              {{ if not ( in .Params.regions "Sélectionnez une région") }}
              <small class="place">{{- range .GetTerms "regions" -}}{{ .Title }}{{ end }}</small>
              {{ end }}
              <small class="computer">{{- .Params.remote -}}</small>
              <ul class="domains custom-ul">
                {{ range .GetTerms "domains" }}
                <li>
                  <small class="dot green-dot">
                    {{ .Title }}
                  </small>
                </li>
                {{ end }}
              </ul>
            </a>
          </div>
          {{- end -}}
        </div>
        {{ partial "pagination"  . }}
      </div>
    </section>
  </div>
</main>
{{- end -}}
